.body  {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header{
    margin: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(89, 172, 245);
}

.intro {
    margin: 0;
    height: 70px;
    width: 100%;
    margin-top: 220px;
    background-color: black;
}

.table{
    float: right;
    width: 30%;
    height: 100%;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 30px;
}

.tr{
    width: 100%;
    margin: auto;
    height: auto;
    margin-top: 25px;
}
.header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: left;
    color : white;
    padding: 5px;
    font-size: 42px;
    
}

.header-menu{
    width: 30%;
    float: right;
}


.balance{
    height:500px;
    background-color: pink;
    width: 30%;
    margin: auto;
    padding:25px;
    margin-top: 50px;
    text-align: center;
}


.income {
    height: 400px;
    background-color: rgb(89, 172, 245);
    width: 25%;
    float: left;
    padding:25px;
    text-align: center;
}

.expense {
    height: 400px;
    background-color: rgb(89, 172, 245);
    width: 25%;
    float: right;
    padding:25px;
    text-align: center;
}

h2 {
    margin: auto;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 50%;
    justify-content: center;
}

.expense-list { 
    background-color: whitesmoke;
    margin: auto;
    width: 95%;
    margin-top: 20px;

}