.button-register {
    background-color: rgb(89, 172, 245);
    color: white;
    margin: 0 auto;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 45px;
    border-radius: 15px;
    border: 1px solid white;
}



.card-body-register{
    width: 200px;
}

.register-frame {
    margin:auto;
    width: 50%;
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;

}

.form {
    margin: auto;
    width: 80%;
}

.form h3 {
    padding: 10px;
}